h1 {
    font-size: 6rem;
    font-family: Lato;
}

#markdown {
    font-size: 1.1rem;
    font-family: Lato;
    padding: 60px 8vw;
    color: black;

    h1 {
        font-size: 3.5rem;
        font-family: Lato;
        font-weight: bold;
        line-height: 4rem;
        margin-bottom: 15px;
        color: #3A8EFB;
    }

    h2 {
        font-size: 1.5rem;
        font-family: Lato;
        font-weight: bold;
        padding-top: 10px;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: #3A8EFB;
    }

    h3 {
        font-size: 1.5rem;
        font-family: Lato;
        font-weight: bold;
        padding-top: 5px;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: #3A8EFB;
    }

    h4, h5, h6 {
        font-size: 1.5rem;
        font-family: Lato;
        font-weight: bold;
        padding-top: 10px;
    }

    details {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        summary {
            font-weight: bold;
            font-family: Lato;
            margin-bottom: 0.5rem;
        }
    }

    ul {
        all: revert;
        margin: 0;
    }

    li {
        margin-left: 20px;
    }

    a {
        color: #3A8EFB;
        transition: 0.1s;

        &:hover {
          color: #1C78EE;
        }
    }

}
